@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  --font-jetbrainsMono: "JetBrains Mono", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
    background: url("/background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #0d021f;
    color: #ffffff;
  }
  h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #6a0dad;
  }
}
